In [ ]:
import pandas as pd

In [ ]:
ACCOUNT_INFO = "account_info.csv"
TRANSACTIONS = "transactions.csv"

In [ ]:
account_info = pd.read_csv(ACCOUNT_INFO)
transactions = pd.read_csv(TRANSACTIONS)

In [ ]:
#take a look at the shape of the two tables
print(account_info.shape)
print(transactions.shape)

(204, 12)
(2522, 8)

In [ ]:
account_info.head(3)

,last_name,first_name,street_address,unit,city,state,zip,dob,ssn,email_address,mobile_number,account_number
0,Dark,Joseph,7 B Blue Ridge Blvd,NaN,Brighton,MI,48116,3/1/1975,205-81-3991,jdarky@darakjy.org,5046218927,43991
1,James,Butt,6649 N Blue Gum St,NaN,New Orleans,LA,70116,7/29/1965,508-60-8859,jbutt@gmail.com,7134926037,26522
2,Josephine,Darakjy,4 B Blue Ridge Blvd,NaN,Brighton,MI,48116,3/1/1975,205-81-3006,josephine_darakjy@darakjy.org,5046218927,31938

In [ ]:
#delete the space at the head of the key
print(account_info.keys())
delete_space_keys = {}
for value in account_info.keys():
  if(' ' in value) == True:
    delete_space_keys[value]=value.strip()
print(delete_space_keys)
account_info = account_info.rename(columns=delete_space_keys)
print(account_info.keys())

Index(['last_name', ' first_name', ' street_address', ' unit', ' city',
       ' state', ' zip', ' dob', ' ssn', ' email_address', 'mobile_number',
       'account_number'],
      dtype='object')
{' first_name': 'first_name', ' street_address': 'street_address', ' unit': 'unit', ' city': 'city', ' state': 'state', ' zip': 'zip', ' dob': 'dob', ' ssn': 'ssn', ' email_address': 'email_address'}
Index(['last_name', 'first_name', 'street_address', 'unit', 'city', 'state',
       'zip', 'dob', 'ssn', 'email_address', 'mobile_number',
       'account_number'],
      dtype='object')

In [ ]:
#check duplicate rows with the same account number
check_duplicate = account_info.duplicated(subset=['account_number'])
print(check_duplicate[check_duplicate==True].size)

0

In [ ]:
print(transactions.keys())

Index(['account_number', 'transaction_datetime', 'transaction_amount',
       'post_date', 'merchant_number', 'merchant_description',
       'merchant_category_code', 'transaction_number'],
      dtype='object')

In [ ]:
transactions['merchant_number']

0       000000000326552
1       900185000000000
2       527021002118976
3       000225124800999
4       650000010604109
             ...
2517    000000002355702
2518    053894000053360
2519      4445025811745
2520    000021668538000
2521    000225124800999
Name: merchant_number, Length: 2522, dtype: object

In [ ]:
transactions.head(3)

,account_number,transaction_datetime,transaction_amount,post_date,merchant_number,merchant_description,merchant_category_code,transaction_number
0,26522,12182020 15:29:12,1.06-,12192020,000000000326552,MAVERIK #488 DRAPER LAUS,5541,3
1,26522,12302020 08:22:36,1.72-,12312020,900185000000000,HARMONS - BANGERTER DRAPER LA,5411,8
2,11111,02192021 09:55:25,1009.90-,2202021,527021002118976,CFA Institute 4349515499 TX,8299,1

In [ ]:
transactions['transaction_amount']

0          1.06-
1          1.72-
2       1009.90-
3         14.00-
4          0.90-
          ...
2517       4.85-
2518      50.04-
2519      45.73-
2520     125.00-
2521      14.00-
Name: transaction_amount, Length: 2522, dtype: object

In [ ]:
#move the hyphen symbol to the front of value
m = transactions['transaction_amount'].str.contains('-')
transactions.loc[m,'transaction_amount'] = transactions.loc[m,'transaction_amount'].str.replace('-','')
transactions.loc[m, 'transaction_amount'] = '-' + transactions.loc[m, 'transaction_amount'].astype(str)
transactions['transaction_amount']

0          -1.06
1          -1.72
2       -1009.90
3         -14.00
4          -0.90
          ...
2517       -4.85
2518      -50.04
2519      -45.73
2520     -125.00
2521      -14.00
Name: transaction_amount, Length: 2522, dtype: object

In [ ]:
#delete FROST in merchant_number
bools = transactions['merchant_number'].str.fullmatch("FROST",case=False)
bools = bools[bools==True]
first_cleaned_transactions = transactions.drop(index = bools.index)
print(first_cleaned_transactions)

      account_number transaction_datetime transaction_amount  post_date  \
0              26522    12182020 15:29:12              -1.06   12192020
1              26522    12302020 08:22:36              -1.72   12312020
2              11111    02192021 09:55:25           -1009.90    2202021
3              11111    02092021 11:15:52             -14.00    2112021
4              26522    01272021 09:34:44              -0.90    1272021
...              ...                  ...                ...        ...
2517           37222    02272021 15:27:57              -4.85    3012021
2518           37222    04012021 06:17:18             -50.04    4022021
2519           37222    03122021 07:33:49             -45.73    3132021
2520           37222    01212021 12:28:59            -125.00    1232021
2521           37222    02092021 11:15:52             -14.00    2112021

      merchant_number                         merchant_description  \
0     000000000326552     MAVERIK #488           DRAPER       LAUS
1     900185000000000      HARMONS - BANGERTER    DRAPER        LA
2     527021002118976      CFA Institute          4349515499    TX
3     000225124800999      CHAPULTEPEC LUPITA     HOUSTON       TX
4     650000010604109      PCBC SPRINGVILLE       SPRINGVILLE   LA
...               ...                                          ...
2517  000000002355702  TIGER EXPRESS          Los Angeles       CA
2518  053894000053360              SHELL OIL  Los Angeles       CA
2519    4445025811745            SHELL OIL\t\tLos Angeles       CA
2520  000021668538000               SHELL OIL Los Angeles       CA
2521  000225124800999      CHAPULTEPEC LUPITA     Atlanta       GA

      merchant_category_code  transaction_number
0                       5541                   3
1                       5411                   8
2                       8299                   1
3                       5812                   2
4                       5814                   2
...                      ...                 ...
2517                    5499                   2
2518                    5814                   3
2519                    5812                   4
2520                    5812                   5
2521                    5812                   6

[2520 rows x 8 columns]

In [ ]:
#replace "XXUS" with "XX" in 'merchant_description'
answer = first_cleaned_transactions['merchant_description'].str.replace('US$','')
first_cleaned_transactions['merchant_description'] = answer

<ipython-input-26-97f58ae62051>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  answer = first_cleaned_transactions['merchant_description'].str.replace('US$','')

In [ ]:
first_cleaned_transactions.head(3)

,account_number,transaction_datetime,transaction_amount,post_date,merchant_number,merchant_description,merchant_category_code,transaction_number
0,26522,12182020 15:29:12,-1.06,12192020,000000000326552,MAVERIK #488 DRAPER LA,5541,3
1,26522,12302020 08:22:36,-1.72,12312020,900185000000000,HARMONS - BANGERTER DRAPER LA,5411,8
2,11111,02192021 09:55:25,-1009.90,2202021,527021002118976,CFA Institute 4349515499 TX,8299,1

In [ ]:
first_cleaned_transactions.to_csv('output.csv', index=False)

In [ ]:
account_info.to_csv('account_info_output.csv', index=False)